<div class="modal-header">
	<button class="bootbox-close-button close" type="button" ng-click="cancel()">
		×
	</button>
	<h3 class="modal-title">{{'LANG_TAG_SET_TAG' | translate}}</h3>
</div>
<div class="modal-body">
	<div class="tag-list" ng-show = "obj.tags.length != 0">
		<div class="tag" ng-repeat="tag in obj.tags">
		  <span class="tag-name">{{tag.tag_name}}</span>
      <span ng-click="deleteTag(tag)" class="fa fa-times delete-tag">x</span>
		</div>
	</div>
	<div class="empty-tag-list" ng-show = "obj.tags.length == 0">{{'LANG_TAG_NO_TAG' | translate}}</div>
	<div class="add-tag-title">{{'LANG_TAG_ADD_TAG' | translate}}<span>({{'LANG_TAG_ADD_TAG_LIMIT' | translate}})</span></div>
	<div class="add-tag-form">
		<input type="text" class="form-control add-tag-input" maxlength="6" ng-enter = "createTag()" ng-model = "tag_name">
		<button class="btn btn-primary add-tag-button" ng-click = "createTag()">{{'LANG_TAG_ADD' | translate}}</button>
	</div>
</div>