<div class="modal-header">
  <button class="bootbox-close-button close" type="button" ng-click="cancel()">
    ×
  </button>
  <h3 class="modal-title">{{'LANG_TRASH_REVERT_COMFIRM_UNDELETE' | translate}}</h3>
</div>
<div class="modal-body">
  {{'LANG_TRASH_REVERT_COMFIRM_UNDELETE_CONFIRM' | translate}}
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">
    {{'LANG_TRASH_RECYCLE_COMFIRM_YES' | translate}}
  </button>
  <button class="btn btn-default" ng-click="cancel()">
    {{'LANG_TRASH_RECYCLE_COMFIRM_NO' | translate}}
  </button>
</div>