<div class="link-main">
  <div class="container link-main">
    <div class="row link-main">
      <div class="col-md-12 link-main">
        <div class="link-share" ng-controller="App.LinkShare.Controller">
          <div class="row open-link-title " ng-class="{ isRoot: isRoot }">
            <div class="col-md-8">
              <div class="top-bar">
                <div class="folder-crumb pull-left" ng-repeat="path in folderPath">
                  <img ng-hide="$first" src="images/arrow_icon.png" />
                  <a ui-sref="shares({folderId: path.id})" ng-class="{true: 'last'}[$last]">{{path.name}}</a>
                </div>
                <div class="folder-crumb pull-left" ng-show="folderPath.length == 0">
                  <a>{{linkShareList[0].file_name}}</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 text-right" ng-show="linkDetail.expiration_date">{{ 'LANG_LINK_EXPIRATION' | translate: '{date: linkDetail.expiration_date}' }}</div>
          </div>
          <div class="trash-view ">
            <div class="top-bar-bottom"></div>
            <div class="buttonGroup">
              <button ng-click="upload()" class="btn btn-default" ng-disabled="isRoot || !uploadButton || linkDetail.preview_only" ng-show="linkDetail.obj_type == 'folder'">{{ 'LANG_UPLOAD_FILE' | translate }}</button>
              <button ng-click='downloadFile()' class="btn btn-default" ng-show="linkDetail.is_download">{{ 'LANG_DOWNLOAD_FILE' | translate }}</button>
              <button ng-click='open()' class="btn btn-default" ng-disabled="linkDetail.preview_only || linkDetail.upload_only" ng-show="linkDetail.is_download">{{ 'LANG_SAVE_TO_HANDSSYNC' | translate }}</button>
            </div>
            <div class="file-list-padding" style='height: {{filelistheight}} '>
              <div class="title">
                <!--<div class="title-checkbox col">
                <input type="checkbox" ng-click = "selectedAllswitch()" ng-model = "selectedAll"/>
              </div>
              -->
              <div class="title-name col">
                <span>{{ 'LANG_LINK_NAME' | translate }}</span>
              </div>
              <div class="title-size col">
                <span>{{ 'LANG_LINK_SIZE' | translate }}</span>
              </div>
              <div class="title-state col">
                <span>{{ 'LANG_LINK_UPDATE_TIME' | translate }}</span>
              </div>

            </div>
            <p class="folder-empty text-center" ng-show="folder_empty">{{ 'LANG_LINK_FILE_NULL' | translate }}</p>            
            <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="5" refresh-on-change="">
              <div class="folder-grid">
                <div class="table">
                  <div class="file-row" ng-repeat="linkShare in linkShareList" ng-class = "{ selected: linkShare.checked }">
                    <!--<div class="input-checkbox-td">
                    <input type="checkbox" ng-model = "linkShare.checked" ng-click = "selectRecycle($event, linkShare)"/>
                  </div>
                  -->
                  <div class="img-name-td">
                    <img ng-src = "{{linkShare.smallIcon}}" height="42px" width="42px" onError="this.onerror=null;this.src='images/web_files_unknown.png';"/>
                    <div class="file-name">
                      <a ui-sref="shares({folderId: linkShare.file_id})" ng-show = "linkShare.folder">{{linkShare.folder_name}}</a>
                      <a ng-show = "!linkShare.folder&&linkShare.isPreview" ng-click = "previewFile(linkShare)">{{linkShare.file_name}}</a>
                      <a ng-show = "!linkShare.folder&&!linkShare.isPreview" ng-class = "{ noPreview: !linkShare.isPreview }">{{linkShare.file_name}}</a>
                    </div>
                  </div>

                  <div class="file-sise-td">
                    <img src="images/file_icon.png" ng-show = "linkShare.folder"/>
                    <span ng-show = "linkShare.folder">{{linkShare.file_count || 0}}</span>
                    <span ng-hide = "linkShare.folder">{{linkShare.format_size}}</span>
                  </div>
                  <div class="state-td" title="{{linkShare.action}}">{{linkShare.action}}</div>
                </div>
              </div>
            </div>
            <loading-indicator ng-show="loading"></loading-indicator>
          </perfect-scrollbar>
        </div>
      </div>

      <!--<div class="link-detail col-sm-3">
      <div class="img-name-email">
        <div class="img">
          <img ng-src = "{{linkDetail.owner_avatar}}" height="50px" width="50px"/>
        </div>
        <div class="name-email">
          <div>
            <label class="owner-uname" title="{{linkDetail.owner_uname}}">{{linkDetail.real_name}}</label>
          </div>
          <div>
            <label class="email" title="{{linkDetail.email}}">{{linkDetail.email}}</label>
          </div>
        </div>
      </div>
      <div class="explain-title">
        <h5>说明</h5>
      </div>
      <div>{{linkDetail.comment}}</div>
    </div>
    -->
    
  </div>
</div>
</div>
</div>
</div>
