<div class="modal-header">
  <button class="bootbox-close-button close" type="button" ng-click="cancel()">
    ×
  </button>
  <h3 class="modal-title">{{'LANG_DELETE_SHARE_USER' | translate}}</h3>
</div>
<div class="modal-body">
  {{'LANG_DELETE_SHARE_USER_CONFIRM' | translate}}
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">
    {{'LANG_DELETE_SHARE_USER_CONFIRM_BUTTON' | translate}}
  </button>
  <button class="btn btn-default" ng-click="cancel()">
    {{'LANG_BUTTON_CANCEL' | translate}}
  </button>
</div>