<div class="team-collaboration" ng-controller="App.Files.TeamController">
  <div class="no-groups-users" ng-show = "isRoot">
    <div class="groups-users-header col-sm-12">
      <span class="pull-left">{{'LANG_TEAM_COLLABORATION_TIPS' | translate}} </span>
      <div class="pull-right invite" ng-click = "inviteTeamUsers()" ng-show = "folder_delete || !isRoot" tooltip-append-to-body="true" tooltip-placement="left" tooltip="{{'LANG_TEAM_COLLABORATION_INVITE_OTHERS' | translate}}"></div>
    </div>
    <perfect-scrollbar class="scroller scrollerImg" wheel-propagation="true" wheel-speed="1" suppress-scroll-x = "true" ng-class = "{ 'isRoot': isRoot }">
      <div class="h4_add_guide pull-left col-sm-12">{{'LANG_TEAM_COLLABORATION_COLLABORATE_SHARE' | translate}}</div>
      <div class="add_guide pull-left col-sm-12"></div>
      <div class="h4_add_link pull-left col-sm-12">{{'LANG_TEAM_COLLABORATION_LINK_SHARE' | translate}}</div>
      <div class="add_link pull-left col-sm-12"></div>
    </perfect-scrollbar>
    <div class="team-link-share" ng-show="!isRoot && !isShare">
      <div class="col-sm-12">
        <input type="button" class="btn btn-primary form-control" ng-click="linkShare()" value="{{shareObj.linkBtnText | translate}}" ng-disabled="!link_share_btn">
      </div>
    </div>

  </div>

  <div class="groups-users" ng-hide = "isRoot">
    <ul class="groups-users-header" ng-init="activeTab=1">
      <li class="col-sm-6" ng-class="{active: activeTab == 1}">
        <a ng-click="activeTab = 1"><span></span>{{'LANG_SIDE_BAR_ALL_DISCUSSION' | translate }}</a>       
        <em></em>
        <i></i>
      </li>

      <li class="col-sm-6 collActive" ng-class="{active: activeTab == 2}">
        <a ng-click="activeTab = 2"><span></span>{{'LANG_TEAM_COLLABORATION_OTHERS' | translate}}({{shareObj.user_count}})</a>
        <em></em>
        <i></i>
      </li>

    </ul><!-- groups-users-header end -->

    <div class="tab-content">
      <div class="tab-panel groups-discuss" ng-class="{active: activeTab == 1}" ng-show="activeTab == 1" ng-controller="App.Files.DiscussListController">
        <div class="notice">
          <span class="pull-left">{{notice_content | translate}}</span>
          <span class="pull-right noticeR" ng-click = "switchBlockMsg()">
            <div ng-show="isBlock" title = "{{'LANG_TEAM_COLLABORATION_OPEN' | translate}}"><img  width="22px" height="23px" src="./images/notice_close.png"/></div>
            <div ng-hide="isBlock" title = "{{'LANG_TEAM_COLLABORATION_CLOSE' | translate}}"><img  width="22px" height="23px" src="./images/notice_open.png"/></div>
          </span>
        </div>

        <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="50" scroll-top-refresh = "true" refresh-on-change="Discuss_list" scroll-down = "{{is_need_scroll_down}}" on-scroll="onDiscussListScroll(scrollTop, scrollHeight)">
          <loading-indicator ng-show="loading"></loading-indicator>
          <div class="disc-item-list col-sm-12">
            <div class="disc-item" ng-repeat="DiscussObj in Discuss_list">
              <div class="line" ng-show = "DiscussObj.breakline">
                {{DiscussObj.breakline_date | translate}}
              </div>
              <div class="disc-con">
                <img ng-src = "{{DiscussObj.avatar}}" height="30px" width="30px"/>
                <span class="icon {{DiscussObj.icon_action}}"></span>
                <div class="disc-box">
                  <div class="disc-name"><span ng-hide="DiscussObj.action == 'join' || DiscussObj.action == 'alter'|| DiscussObj.action == 'kickout'">{{DiscussObj.real_name}}</span><span ng-show="DiscussObj.action == 'join' || DiscussObj.action == 'alter'|| DiscussObj.action == 'kickout'">{{DiscussObj.action_obj_name}}</span> <b>{{DiscussObj.action_content | translate}}</b></div>
                <div class="disc-time">{{DiscussObj.format_date}}</div>
                  <!-- 文件动态 -->
                  <div ng-show="!DiscussObj.isFolder">
                    <div class="disc-border" ng-hide="DiscussObj.action == 'discuss' || DiscussObj.action == 'join' || DiscussObj.action == 'alter' || DiscussObj.action == 'leave' || DiscussObj.action == 'kickout'" ng-class="{'no-preview': !folder_preview}">
                      
                      <div  ng-show="!DiscussObj.isNote && !DiscussObj.isFolder" ng-click = "previewFile($event, DiscussObj)">
                        <img ng-show="!DiscussObj.isImage" width="42px" height="42px" ng-src = "{{DiscussObj.smallIcon}}">
                        <img ng-show="DiscussObj.isImage" width="42px" height="42px" ng-src = "{{DiscussObj.smallIcon}}" onError="this.onerror=null;this.src='images/web_files_jpeg.png';">
                        <div class="disc-content-l">
                          <h2>{{DiscussObj.action_obj_name}}</h2>
                          <!-- <span ng-show = "DiscussObj.action_obj_type == 'file'">{{"第"+ DiscussObj.version_id +"版"}}</span> -->
                          <span ng-show = "DiscussObj.action_obj_type == 'file'" translate="LANG_TEAM_COLLABORATION_VERSION" translate-values="{ length: DiscussObj.version_num}"></span>
                        </div>
                      </div>
                      <!-- 非笔记 -->
                      <div ng-show="DiscussObj.isNote" ng-click = "previewNote(DiscussObj)">
                        <table>
                          <tr>
                            <td class="dis_img"><img width="42px" height="42px" ng-src = "{{DiscussObj.smallIcon}}"></td>
                            <td class="dis_txt">{{DiscussObj.action_obj_name}}</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>

                  <!-- 文件夹动态 -->
                  <div ng-show="DiscussObj.isFolder" class="disc-Folder">
                    <table>
                        <tr>
                          <td class="dis_img"><img width="42px" height="42px" ng-src = "{{DiscussObj.smallIcon}}"></td>
                          <td class="dis_txt">{{DiscussObj.action_obj_name}}</td>
                        </tr>
                    </table>
                  </div>

                  <!-- 讨论动态 -->
                  <div class="disc-content" ng-show="DiscussObj.action == 'discuss'" ng-bind-html="DiscussObj.content"></div>
                </div>                
              </div><!-- disc-con end -->
            </div>
          </div><!-- disc-item-list end -->
        </perfect-scrollbar>

        <div class="disc-inputbox col-sm-12">
          <textarea id="inputor" rows="5" placeholder="{{'DISCUSS_ENTER_KEY_SEND' | translate}}" cols="20" at="atOptions"  focus-me="textareaFocus" ng-model="discussContent" ng-keydown = "createUserDiscussByPress($event)"></textarea>
          <button class="btn btn-default pull-right" ng-disabled="discussButton" ng-click="createUserDiscuss($event)">
            {{postbtn | translate}}
          </button>
         <label class="pull-right">{{discussCount}}/200</label>
         <label class="tip pull-left">{{'LANG_FILE_AT_COLLABORATOR' | translate}}</label>
        </div>     
      </div> <!-- groups-discuss end -->

      <div class="tab-panel groups-collaboration" ng-class="{active: activeTab == 2}" ng-show="activeTab == 2">
        <div class="notice">
          <span class="pull-left">邀请协作人</span>
          <span class="pull-right inviteTeamIcon" ng-click = "inviteTeamUsers()"> </span>
        </div>
        <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="1" refresh-on-change="shareObj.list.users">
          <loading-indicator ng-show="loading"></loading-indicator>
              <div class="groups col-sm-12" ng-repeat="group in groups" ng-class = "{not_edit : !folder_edit , not_edit : group.is_edit }">
                <div class="group-div">
                  <div class="img" ng-click = "changeGroupshow(group)">
                    <span class="arrows-img" ng-class="{ group_show: group.show }"></span>
                    <img  width="24px" height="24px" src="./images/grouplist_icon.png"/>
                  </div>
                  <div class="group-name">
                    <span>{{group.group_name}}</span>
                    <span class="group-user-count">({{group.user_count}})</span>
                  </div>
                  <div class="group-permission">
                    <span class="dropdown-toggle" left-context-menu="onLeftClick()"  data-target="g{{group.id}}">{{group.permission_value | translate}}<span class="caret"></span></span>
                    <div class="dropdown position-fixed" id="g{{group.id}}">
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                        <li role="presentation" ng-repeat="value in group.permission_value_list" ng-click = "changeGroupPermission(group, value.v)" tooltip-append-to-body="true" tooltip-placement="left" tooltip="{{value.t | translate}}">
                          <a role="menuitem" tabindex="-1">
                            {{value.v | translate}}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="delete-group">
                    <span class="" ng-click = "deleteGroupShare(group)">X</span>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="col-sm-12 group-user" ng-repeat="user in group.users" ng-show = "group.show">
                    <img  width="24px" height="24px" ng-src="{{user.avatar}}"/>
                    <span class="group-name">{{user.real_name}}</span>
                  </div>
                </div>
              </div>
              <div class="users col-sm-12" ng-repeat="user in users" ng-class = "{ is_owner: user.is_owner , not_edit : !folder_edit }" >
                <div class="img">
                  <img  width="24px" height="24px" ng-src="{{user.avatar}}"/>
                </div>
                <div class="user-name">
                  <span class="user-name">{{user.real_name}}</span>
                </div>
                <div class="user-permission">
                <span class="dropdown-toggle" left-context-menu="onLeftClick()"  data-target="u{{user.user_id}}">{{user.permission_value | translate}}<span class="caret"></span></span>
                  <div class="dropdown position-fixed" id="u{{user.user_id}}">
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                      <li role="presentation" ng-repeat="value in user.permission_value_list" ng-click = "changeUserPermission(user, value.v)" tooltip-append-to-body="true" tooltip-placement="left" tooltip="{{value.t | translate}}" >
                      <a role="menuitem" tabindex="-1">
                        {{value.v | translate}}
                      </a>
                    </li>
                    </ul>
                  </div>
                </div>
                <div class="delete-user">
                  <span class="" ng-click = "deleteUserShare(user)">X</span>
                </div>
              </div>
        </perfect-scrollbar>
        <div class="team-link-share">
          <div class="col-sm-12">
            <input type="button" class="btn btn-primary form-control" ng-click="linkShare()" value="{{shareObj.linkBtnText | translate}}" ng-disabled="!link_share_btn">
          </div>
        </div>
      </div><!-- groups-collaboration end -->
    </div>

  </div>

</div>