<div class="header-view" ng-controller="App.Header.Controller">


    <div class="header-top">
        <a href="index.html">
            <div class="logo">
                <!--<img src="./images/logo_white_min.png" />-->
            </div>
        </a>
        
        <!-- has logged in -->
        <div class="pull-right button-group" ng-show="hasLogedIn">        
            <div class="user-info pull-right"  dropdown>
                <div class="username dropdown-toggle" ng-class="{hover: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                    <span>{{user.real_name}}</span>
                    <div class="personalInfor"></div>
                </div>
                <ul class="dropdown-menu" role="menu">
                    <li ng-click="toSignOut()"><a>{{'LANG_USER_SIGN_OUT' | translate}}</a></li>
                </ul>
                <img class="userpic" ng-src="{{user.avatar}}" alt="" />
            </div>
        </div>

        <!-- not log in -->
        <div class="pull-right button-group" ng-hide="hasLogedIn" dropdown>            
            <button ng-click='toregist()' class="btn btn-warning">{{'LANG_USER_Register' | translate}}</button>
            <button class="login-button btn btn-primary dropdown-toggle">{{'LANG_USER_LOGIN' | translate}}</button>            
            <!-- login panel -->
            <div class="login-panel dropdown-menu" role="menu">
                <div class="wrapper">
                    <div id="">
                        <div class="form-group">
                            <div class="login-panel-title">
                                {{'LANG_USER_LOGIN' | translate}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="text" maxlength="50" id="username" placeholder="{{'LANG_USER_NAME_EMAIL' | translate}}" class="form-control" tabindex="1" autocapitalize="off" autocomplete="off" ng-model="userName" ng-click="$event.stopPropagation()">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                <input type="password" maxlength="50" id="password" placeholder="{{'LANG_USER_PASSWORD' | translate}}" class="form-control" tabindex="1" autocapitalize="off" autocomplete="off" ng-model="userPassword" ng-keypress="monitorKeyPress($event)" ng-click="$event.stopPropagation()">
                            </div>
                        </div>
                        <div class="checkbox" ng-click="$event.stopPropagation()">
                            <label class="pull-left">
                                <input type="checkbox" id="checkbox" ng-model="remember">{{'LANG_USER_REMMBER_PASSWORD' | translate}}
                            </label>
                            <a class="pull-right" href="findpassword.html">{{'LANG_USER_FORGET_PASSWORD' | translate}}</a>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-block btn-lg btn-primary" ng-click="loginHandler()">{{'LANG_USER_LOGIN' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end login panel -->

        </div>
    </div>
</div>

