<div class="modal-body" resize>
  <div class="preview-view" ng-mousemove="showToolBar = true" ng-mouseleave="showToolBar = false"  ng-class="{true: 'col-sm-9'}[showRightWrap]">
    <div ng-class="{'preview-modal-header':fileType != 'image'}">
      <button class="content-box-close close" type="button" ng-click="cancel()" ng-show="!showRightWrap">
        ×
      </button>
      <div class="preview-header-nav" ng-show="fileType != 'image'">
        <ul>
          <li><a  href="javascript:" ng-click="dowloadFile()" ng-show="obj.is_download"><i class="preview-icon down-load-files"></i>下载</a></li>
          <li><a class="ng-binding"  href="javascript:" ng-click="upload()" ng-show="obj.is_upload" ><i class="preview-icon upload-new-version"></i>上传新版本</a></li>
          <li><a  href="javascript:" class="disc" ng-class="{ active: navType == 'ver'}" ng-click = "changeNavType('ver')"><i class="preview-icon version-record"></i>版本记录({{ fileHistoryList.length }})</a></li>
          <li><a  href="javascript:" class="ver"  ng-class="{ active: navType == 'dis'}" ng-click = "changeNavType('dis')"><i class="preview-icon comment-with-files"></i>评论({{ userDiscussList.length }})</a></li>
        </ul>
      </div>
      <h3 class="modal-title">"{{obj.file_name}}"{{'LANG_PREVIEW_FILE' | translate}}</h3>
    </div>
    <loading-indicator ng-show="loading"></loading-indicator>
    <div class="not-preview-type" ng-show = "!obj.isPreview">
      <img ng-src="images/web_preview_failed.png" alt=""/>
      <div class="not-type-text">暂不支持此类型文件预览<span ng-show="obj.is_download">，请<a ng-click="dowloadFile()">下载</a>查看</span></div>
    </div>
    <div class="not-preview-type" ng-show = "file_size_limit && fileType != 'image'">文件太大，暂不支持预览<span ng-show="obj.is_download">，请<a ng-click="dowloadFile()">下载</a>后查看</span></div>
    <div>
      <div class="image-preview" ng-show = "fileType == 'image'">
      <div class="not-preview-type" ng-show = "file_size_limit">文件太大，暂不支持预览<span ng-show="obj.is_download">，请<a ng-click="dowloadFile()">下载</a>后查看</span></div>    
        <table ng-show = "!file_size_limit">
            <tr>
                <td class="image-preview-td">
                    <img degrees='angle' ng-show = "!file_size_limit" rotate ng-src="{{imageSrc}}" alt=""/>
                </td>
            </tr>
        </table>
        <a href="javascript:" class="pre-button" ng-click="prePreview()" ng-show="showToolBar && preShow"></a>
        <a href="javascript:" class="next-button" ng-click="nextPreview()" ng-show="showToolBar && nextShow"></a>
        <div class="preview-oprate-warp" ng-show="showToolBar">
          <ul>
            <li><a  ng-href="{{imageSrcMax}}" target="_blank"><i class="preview-icon icon-view-original "></i>查看原图</a></li>
            <li><a  href="javascript:" ng-click="rotate('-90')"><i class="preview-icon rotate-to-left "></i>向左旋转</a></li>
            <li><a  href="javascript:" ng-click="rotate('90')"><i class="preview-icon rotate-to-right "></i>向右旋转</a></li>
            <li><a  href="javascript:" ng-click="dowloadFile()" ng-show="obj.is_download"><i class="preview-icon down-load-files"></i>下载</a></li>

            <li><a class="ng-binding"  href="javascript:" ng-click="upload()" ng-show="obj.is_upload" ><i class="preview-icon upload-new-version"></i>上传新版本</a></li>
            <li><a  href="javascript:" class="disc" ng-class="{ active: navType == 'ver'}" ng-click = "changeNavType('ver')"><i class="preview-icon version-record"></i>版本记录({{ fileHistoryList.length }})</a></li>
            <li><a  href="javascript:" class="ver"  ng-class="{ active: navType == 'dis'}" ng-click = "changeNavType('dis')"><i class="preview-icon comment-with-files"></i>评论({{ userDiscussList.length }})</a></li>
          </ul>
        </div>
      
    </div>
    </div>
    
    <div class="txt-preview" ng-show = "fileType == 'txt' && !file_size_limit" ng-bind-html = "previewValue">

    </div>
    <div class="office-preview" ng-show = "!file_size_limit && (fileType == 'office' || fileType == 'pdf')" ng-bind-html = "previewValue">

    </div>
  </div>
  <div class="col-sm-3 discuss-version-view" ng-show="showRightWrap" >
    <ul class="nav nav-sidebar">
      <li class="disc" ng-class="{ active: navType == 'dis'}" ng-click = "changeNavType('dis')" ng-show="navType == 'dis'">
        {{'LANG_PREVIEW_DISCUSS' | translate}} ({{ userDiscussList.length }})
      </li>
      <li class="ver" ng-class="{ active: navType == 'ver'}" ng-click = "changeNavType('ver')" ng-show="navType == 'ver'">
        {{'LANG_PREVIEW_VERSION' | translate}}({{ fileHistoryList.length }})
      </li>
      <button class="bootbox-close-button close" type="button" ng-click="cancel()">
        ×
      </button>
    </ul>
    <perfect-scrollbar class="scroller discuss" wheel-propagation="true" wheel-speed="1" refresh-on-change="userDiscussList" ng-show = "navType == 'dis'" suppress-scroll-x = "true" scroll-down = "true">
    <div class="discuss">
      <div ng-repeat="userDiscuss in userDiscussList" class="disc-item" ng-class="{ is_owner: userDiscuss.is_owner, is_deleted: userDiscuss.is_deleted == 'true'  }">
        <img ng-src = "{{userDiscuss.avatar}}" height="30px" width="30px"/>
        <div class="disc-box">
          <div class="disc-name">
            <span>{{userDiscuss.real_name}}</span>
            <div class="delete-disc pull-right" ng-click = "deleteUserDiscuss(userDiscuss)">{{'LANG_FILE_DELETE' | translate}}</div>
            <div class="reply-disc pull-right" ng-click = "replyUserDiscuss(userDiscuss)">{{'LANG_FILE_REPLY' | translate}}</div>
          </div>
          <div class="disc-time">{{userDiscuss.format_date}}</div>
          <div class="disc-content" ng-bind-html = "userDiscuss.content"></div>
        </div>
      </div>
    </div>
    </perfect-scrollbar>
    <div class="disc-inputbox" ng-show = "navType == 'dis'">
      <textarea id="inputor" rows="5" placeholder="{{'DISCUSS_ENTER_KEY_SEND' | translate}}" cols="20" at="atOptions" ng-keydown = "createUserDiscussByPress($event)" ng-model = "discussContent" focus-me="textareaFocus" ng-trim="false" ng-disabled="textareaDisabled"></textarea>
      <button class="btn btn-default pull-right" ng-disabled="discussButton" ng-click = "createUserDiscuss($event)">
        {{'LANG_PREVIEW_POST' | translate}}
      </button>
      <label class="pull-left">{{'LANG_PREVIEW_AT_COLLABORATOR' | translate}}</label>
      <label class="pull-right" >{{discussCount}}/200</label>
    </div>
    <perfect-scrollbar class="version" wheel-propagation="true" wheel-speed="1" refresh-on-change="fileHistoryList" ng-show = "navType == 'ver'" suppress-scroll-x = "true">
      <div ng-repeat="fileHistory in fileHistoryList" class="version-item">
        <div class="time-user">
          <div class="pull-left version-info-left">
            <div>{{fileHistory.format_date}}</div>
            <div class="version-info">
              <img class="pull-left version-user-head" ng-src = "{{fileHistory.avatar}}" alt="" />     
              <div class="pull-left user-action" title="{{fileHistory.user_name | translate}} {{(fileHistory | personAction) | translate}}">{{fileHistory.user_name | translate}} {{(fileHistory | personAction) | translate}}</div>
              <div class="file-preview pull-left" tooltip-append-to-body="true" tooltip-placement="top" tooltip="{{'USER_DISCUSS_FILE_PREVIEW' | translate}}" ng-click = "previewFile(fileHistory)" ng-class="{true: 'active'}[(currentVersion==fileHistory.version_id) || (currentVersion==''&& $first)]" ng-show = "isPreview && fileHistoryList.length > 1">
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="pull-left text-center version-info-middle">{{fileHistory.format_size}}</div>
          <div class="pull-right version-info-right">
            <div>
              <a class="current-set pull-right" ng-hide = "$first || !obj.is_edit" ng-click = "revertFileVersion(fileHistory)">
                {{'USER_DISCUSS_REVERT_THIS_VERSION' | translate}}
              </a>
              <div class="current-version pull-right" ng-show = "$first">
                {{'USER_DISCUSS_CURRENT_VERSION' | translate}}
              </div>
              <div class="clearfix"></div>
            </div>
            <div>
              <div class="version-action pull-right" ng-click = "downLoadHistory(fileHistory)" ng-show = "obj.is_download" tooltip-append-to-body="true" tooltip-placement="top" tooltip="{{'USER_DISCUSS_VERSION_DOWNLOAD' | translate}}">
              </div>              
            </div>     
          </div>     
          <div class="clearfix"></div>
        </div>
        
      </div>

    </perfect-scrollbar>
  </div>
</div>
